h1{
    font-size : 26pt;
    font-family : Impact, sans-serif, arial;
}
input[type=submit]{
    background-color: #04AA6D;
    border: none;
    width: 100px;
    height: 40px;
    color: white;
    padding: 10px 32px;
    cursor: pointer;
}

input[type=reset]{
    background-color: #ff0000;
    border: none;
    width: 100px;
    height: 40px;
    color: white;
    padding: 10px 32px;
    cursor: pointer;
}

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
  }
  
  a:hover, a:active {
    border-top: solid 3px red;
    border-bottom: solid 3px red;
  }